* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
  min-height: 100vh;   /* Page takes full height even if small -> for footer */
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

    background-color: #121212;
    color: white;
}
/* Squeezes  */
.page-container {
    max-width: 1200px;   /* stops it from getting too wide */
    margin: 0 auto;      /* centers it horizontally */
 }
