body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;   /* stops it from getting too wide */
    margin: 0 auto;      /* centers it horizontally */
    padding: 0 20px;     /* spacing on left/right */

}

/* Header */
header {
    background: #111;
    color: white;
    padding: 15px;
}

main {
    padding: 20px;
}

.nav-buttons a {
    font-size: 20px !important;
    padding-right: 10px;
}

a {
    color: #d6b3ff;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a:active {
    opacity: 0.7;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



